<template>
  <style>
    nav {
      background: #eeeeee;
      padding: 10px;
    }
  </style>

  <nav>
    <span repeat.for="row of router.navigation">
      <a href.bind="row.href">${row.title}</a>
    </span>
  </nav>

  <div>
    <router-view></router-view>
  </div>
</template>
